*{
	margin: 0;
	padding: 0;
	font-family: \5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\6587\6CC9\9A7F\6B63\9ED1\4F53,arial;
}
ul,li{list-style: none;}
html, body, #content{}
.wecome-wrp{
	width: 600px; height: 650px; background-color: #feff1b;
}
@-webkit-keyframes fall{
	0% {
		bottom:750px;
	}
	50% {
		bottom:350px;
	}
	60% {
		bottom:350px;
		width: 110px;
		height: 60px;
		left:245px;
	}
	75% {
		bottom:370px;
		width: 110px;
		height: 60px;
		left:245px;
	}
	90% {
		bottom:350px;
		width: 110px;
		height: 60px;
		left:245px;
	}
	100% {
		bottom:350px;
	}
}
@-webkit-keyframes bottom-slide{
	0%{}
	100%{
		bottom: 250px;
	}
}
.wecome-wrp .hmbb-avatar{
	position: absolute;
	left: 250px;
	background: url("../image/haimianbaobao_t.png") no-repeat center center scroll transparent; 
	background-size: 100% 100%; 
	display: block;
	width: 100px;
	height: 95px;
	-webkit-animation: fall 1s ease-in 0 1 normal forwards;
	animation: fall 1s ease-in 0 1 normal forwards;
}
.wecome-wrp .greetings{
	position: absolute;
	bottom: -50px;
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: green;
	-webkit-animation: bottom-slide .5s ease-in-out .8s 1 normal forwards;
	animation: bottom-slide .5s ease-in-out .8s 1 normal forwards;
}
@media (min-width: 600px) {
    .form-horizontal .control-label {
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
	}
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {float:left}
	.col-sm-12 {width: 100%}
	.col-sm-11 {width: 91.66666667%}
	.col-sm-10 {width: 83.33333333%}
	.col-sm-9 {width: 75%}
	.col-sm-8 {width: 66.66666667%}
	.col-sm-7 {width: 58.33333333%}
	.col-sm-6 {width: 50%}
	.col-sm-5 {width: 41.66666667%}
	.col-sm-4 {width: 33.33333333%}
	.col-sm-3 {width: 25%}
	.col-sm-2 {width: 16.66666667%}
	.col-sm-1 {width: 8.33333333%}
}
.study-wrp{
	display: none;
}
.study-wrp .study-title{
	text-align: center;
}
.study-wrp .study-group{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px 15px 0;
	margin: 15px auto;
	background-color: #eee;
}
.study-wrp .add-study-group{
	float: right;
}
.study-wrp .btn-wrp{
	clear: both;
	text-align: center;
}
.study-wrp .btn-wrp .save-study{
	margin-right: 30px;
}

.chat-wrp{
	height: 650px;
	overflow: hidden;
	display: none;
}
.chat-wrp .chat-items-wrp{
	height: 520px;
	overflow-y: scroll;
	margin-bottom: 0;
}
.chat-wrp .chat-item{
	width: 100%;
	overflow: hidden;
}
.chat-wrp .chat-item .bubble{
	display: inline-block;
	max-width: 80%;
	border:1px solid #ccc;
	border-radius: 15px;
	border-bottom-left-radius: 0;
	padding: 8px 10px;
	margin: 15px 20px;
	background-color: #eee;
	line-height: 20px;
	position: relative;
}
.chat-wrp .chat-item .bubble:before{
	content: ' ';
	position: absolute;
	left: -7px;
	bottom: -1px;
	width: 20px;
	height: 10px;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}
.chat-wrp .chat-item .bubble:after{
	content: ' ';
	position: absolute;
	left: -9px;
	bottom: 1px;
	width: 10px;
	height: 13px;
	border-bottom-left-radius: 100%;
	border-left: 1px solid #ccc;
	background-color: #fff;
	-webkit-transform: rotate(-132deg);
}
.chat-wrp .chat-item.me-sent .bubble{
	float: right;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 0;
	background-color: #87cefa;
}
.chat-wrp .chat-item.me-sent .bubble:before{
	right: -7px;
	left: auto;
	border-left: 0;
	background-color: #87cefa;
}
.chat-wrp .chat-item.me-sent .bubble:after{
	right: -10px;
	left: auto;
	bottom: -1px;
	border-left: 1px solid #ccc;
	-webkit-transform: rotate(0deg)
}
.chat-wrp .send-msg-box{
	height: 130px;
	overflow: hidden;
}
.chat-wrp .send-msg-box .top-bar{
	height: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}
.chat-wrp .send-msg-box .send-box{
	height: 66px;
}
.chat-wrp .send-msg-box .send-box .msg-box{
	border-radius: 0;
	height: 66px;
	resize: none;
}
.chat-wrp .send-msg-box .bottom-bar{
	height: 54px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}
.chat-wrp .send-msg-box .bottom-bar .tools-wrp{
	line-height: 54px;
	padding-left: 10px;
	float: left;
}
.chat-wrp .send-msg-box .bottom-bar .tools-wrp .tool{
	display: inline-block;
	margin: 0 5px;
}
.chat-wrp .send-msg-box .bottom-bar .btn{
	margin: 10px 20px 0 0;
	float: right;
}



